.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
//   :host ::ng-deep {
//     .mat-form-field-appearance-outline  {
//       border-color: #FFF!important;
//       .mat-form-field-outline {
//         color: #FFF!important;
//       }
//     }
//     .mat-form-field-outline,
//     .mat-form-field-empty.mat-form-field-label,
//     .mat-form-field-label,
//     .mat-form-field-underline,
//     .mat-input-element,
//     ::placeholder {
//         color: #FFF!important;
//     }
//   }
